//Colors
$black: #202020;
$white: #fff;
$purple: #892dee;
$dark-yellow: #ffdd00;
$yellow: #ffea00;
$grey: #b4b4b4;
$dark-grey: #a0a0a0;

//typographies
$roboto: 'Roboto', sans-serif;
$light: 300;
$regular: 400;
$bold: 900;